.movie-card {
	margin-top: 2rem;

	overflow: hidden;
	position: relative;
	border-radius: 0.25rem;
	background-color: rgba(255, 255, 255, 0.25) !important;
	backdrop-filter: blur(8px) !important;
}

.image-container {
	position: relative;
	height: 50rem; /* Fixed height for consistency */
	width: fit-content; /* Full width of the card */
	display: flex;
	margin-bottom: 1rem;
	justify-content: center;
	align-items: center;
	overflow: hidden;
}

.movie-card-img {
	height: 100%; /* Consistent height */
	//margin: 0 !important;
	width: auto; /* Variable width to maintain aspect ratio */
	/* Ensures the image is scaled correctly without being cropped */
}

.movie-card-body {
	padding: 1rem;
	position: absolute;
	bottom: 0;
	width: 101%;
	background-color: rgba(96, 60, 31, 0.75); /* Semi-transparent */
	color: white;
	padding: 10px;
	backdrop-filter: blur(12px);
	right: 0.01px;
}

.movie-card-title,
.movie-card-text {
	word-wrap: break-word;
	overflow-wrap: break-word;
	color: white; /* Ensures text color is consistent */
}
