.navbar-custom-form {
	display: flex;
	align-items: center;
}

.form-control {
	margin-right: 0.5rem;
	height: 38px; // Adjust this height to match your button
}

.btn-outline-success {
	height: 38px; // Ensure this matches the form control height
	color: cornflowerblue;
}

.input-group {
	margin-top: 0rem;
}

.navbar {
	width: 110%;
	padding: 0.5rem 3rem !important;
}
