.movie-card {
	background-color: rgba(33, 37, 41, 0.8);
	color: white;
	aspect-ratio: 4 / 5;
	margin-top: 2rem;
	margin-left: 1.5rem;
	display: flex;
	flex-direction: column;
	justify-content: center; /* Adjusted to push content to the bottom */
	overflow: hidden;
	padding-top: 5%; /* Adjust this value based on your needs */
}

.movie-card-img {
	position: relative;
}

.movie-card-body {
	//background-color: rgba(33, 37, 41, 0.7);
	color: white;
	/* Removed absolute positioning, rely on flexbox instead */
}
.auth-card {
	width: 60%;
	margin: 0;
	background-color: rgba(86, 86, 86, 0.384) !important;
	backdrop-filter: blur(25px);
	color: rgb(255, 255, 255);
	text-align: left;
	word-wrap: break-word; /* Ensures text wraps within the container */
	overflow-wrap: break-word;
	outline: none;
}
