.auth-card {
	width: 60%;
	margin: 0;
	background-color: rgba(38, 121, 204, 0.8);
	color: rgb(131, 68, 68);
	text-align: left;
	word-wrap: break-word; /* Ensures text wraps within the container */
	overflow-wrap: break-word;
	outline: none;
}
