.bold {
	font-size: 2rem; // Sets the font size to 16 pixels
	font-weight: bold; // Makes the text bold
	font-family: 'Futura', sans-serif; // Sets Futura as the primary font, with a generic sans-serif as the fallback
}
